body.pow-display-scores .pow-calc-test-failed {
	background: red;
	color: white;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
}

body.pow-display-scores .pow-calc-test-passed {
	background: green;
	color: white;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
}