
body.pow-calculator .highlight-pow {
	background: #fedcba;
}

body.pow-calculator .pow-article-content {
	border-top: 20px solid #dcba98;
	border-radius: 7px 7px 0px 0px;
}

body.pow-calculator .highlight-pow-running {
	border-top: 20px solid #804020;
	border-radius: 7px 7px 0px 0px;
	background: #876543;	
}

body.pow-calculator #get-pow-mod-form {
	background: #abcdef;
}


body.pow-calculator .pow-form-container {
	/*width: 100%;*/
	padding: 5%;
}

body.pow-calculator .pow-form-label {
}

body.pow-calculator .pow-form-inputs {
}

body.pow-calculator #p_modulo {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

body.pow-calculator #p_output {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

body.pow-calculator #p_md5sum {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

body.pow-calculator .pow-form-clocks {
  float: right;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;	
}

body.pow-calculator #p_hashtime {
  text-align: left;
}

body.pow-calculator #p_hashcount {
  text-align: right;
}

body.pow-display-scores .pow-calc-test-failed {
	background: red;
	color: white;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
}

body.pow-display-scores .pow-calc-test-passed {
	background: green;
	color: white;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
}